body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.forecast-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.forecast-item p {
    
    margin: 5px 0;
}

.forecast-item p:first-child {
    font-weight: bold;
}

.forecast-item p.temperature {
    font-size: 18px;
}

.forecast-item p.description {
    color: #555;
}