body {
    font-family: Arial, sans-serif;
}



.container {

    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.forecast-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.forecast-item p {
    margin: 36px 0;
}

.forecast-item p:first-child {
    font-weight: bold;
}

.forecast-item p.temperature {
    font-size: 36px;
}

.forecast-item p.description {
    color: #c61919;
}