body {
    font-family: Arial, sans-serif;
    font-size: 40px;
}



.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.forecast-item {
    font-size: 35px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;

}

.forecast-item p {
    margin: 10px 0;
}

.forecast-item p:first-child {
    font-weight: bold;
}

.forecast-item p.temperature {
    font-size: 36px;
}

.forecast-item p.description {
    color: #c61919;
}


.weather-icon {
    width: 150px; /* Adjust the width of the weather icon */
    height: auto; /* Automatically adjust the height based on the width */
}
